body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #71b7e6, #252424);
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(135deg, #71b7e6, #252424);
    border-radius: 5px;
    box-shadow: 0 2px 5px #7f8181;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #7f8181;
    color: #ffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #67b6ff;
}
